body{
  background-image: url("https://th.bing.com/th/id/R.6978fca3b1c2344705996a3a0f6ecebf?rik=I%2fTAu8LpIcuJLg&riu=http%3a%2f%2f1.bp.blogspot.com%2f-6VpnMc4GUhs%2fUWHyyx4YL8I%2fAAAAAAAASGs%2fL4fWuPy7K8Y%2fs1600%2fblack%2bbackground%2b9.jpg&ehk=9latSN6fGjZLmyW3x7Njsx8FLlVbtU0BoL34OyUFOpg%3d&risl=&pid=ImgRaw&r=0")
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
