.Main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
img{
    width:15em;
    height:20em;
    transition:0.7s;
    border:5px solid 
}
img:hover{
    transform:translateY(-20px);
    width:15em;
    height:20em;
    
}
button{
    width:15em;
    background-color: rgb(217, 255, 127);
    border-radius:20%;
    transition:0.2s
}
button:hover{
    width:15em;
    background-color: rgb(255, 142, 127);
}